@import '../../../styles/vars/size'
@import '../../../styles/vars/color'
.mc-item-info
    &__condition-sold
        font-size: $size-s
        color: $light
    &__title
        font-size: $size-l
        font-weight: bold
    &__price
        font-size: $size-xxl
        padding: $size-xl 0
    