@import '../../../styles/vars/size'
@import '../../../styles/vars/color'
.mc-item-desc
    margin-top: 50px
    &__title
        font-size: $size-x
        margin-bottom: $size-xl
    &__description
        font-size: $size-n
        color: $lighter