@import '../../styles/vars/color'
@import '../../styles/vars/size'
.mc-icon-input
    display: flex
    &__input
        width: 100%
        input
            width: 100%
            border: 0
            height: 30px
            padding: 2px 2px 2px 10px
            outline: none
            font-size: $size-ml
            &::placeholder
                color: $lighter
    &__icon
        button
            background: $background
            border: 0
            cursor: pointer
            height: 100%
            padding: 0 10px
            outline: none