@import '../../../styles/vars/size'
@import '../../../styles/vars/color'
.mc-result-item
    display: flex
    justify-content: space-between
    margin-top: $size-n
    padding-bottom: $size-n
    border-bottom: 1px solid $background
    &:first-child
        margin-top: 0
    &:last-child
        border-bottom: 0
    &__detail
        display: flex
        width: 65%
        &-img
            margin-right: $size-n
            width: 180px
            height: 180px
            min-width: 180px
            min-height: 180px
            img
                height: 100%
                width: 100%
                border-radius: 4px
        &-info
            &-amount
                display: flex
                font-size: $size-l
                align-items: center
                margin-bottom: $size-xl
                margin-top: 10px
                img
                    margin-left: 10px
                    width: fit-content
                    height: fit-content
            &-desc
                font-size: $size-ml
                a
                    color: $font
                    text-decoration: none

    &__from
        width: 20%
        color: $lighter
        margin-top: 10px
