@impot './vars/color'
@impot './vars/size'
.mc-btn
    border: 0
    outline: none
    color: white
    background-color: $button-blue
    padding: 15px
    display: flex
    justify-content: center
    border-radius: 4px
    font-size: $size-n
    width: 100%
    cursor: pointer
