@import './vars/color','./vars/size'

.font
    &-xs
        font-size: $size-xs
    &-s
        font-size: $size-s
    &-n
        font-size: $size-n
    &-ml
        font-size: $size-ml
    &-l
        font-size: $size-l
    &-x
        font-size: $size-x
    &-xl
        font-size: $size-xl
    &-xxl
        font-size: $size-xxl
    color: $font