@import './vars/color'
@import './vars/size'

@import './font'
@import './buttons'

body
    background: $background
    padding-bottom: 100px
    > *
        color: $font
.wrapper
    max-width: $max-width
    margin: 0 auto
    display: grid
    grid-template-columns: repeat(12, [col-start] 1fr)
    grid-gap: 10px
