@import '../../styles/vars/size'
@import '../../styles/vars/color'
.mc-breadcrumb
    display: flex
    padding: $size-n 0
    &__item
        font-size: $size-s
        color: #999999
        margin-right: 10px
        cursor: pointer
        &:after
            content: ">"
            margin-left: 10px
        &:last-child
            font-weight: bold
            &:after
                content: ""
