@import '../../styles/vars/size'
.mc-item
    grid-column: col-start 2 / span 10
    &__container
        padding: $size-xl
        background: white
        border-radius: 5px
        display: flex
        justify-content: space-between
        &-img-desc
            width: 65%
        &-info
            width: 30%