@import '../../styles/vars/color'
.mc-browser
    background-color: $color-brand
    &__container
        padding: 5px
    &__logo
        grid-column: col-start 2 / span 1
    &__search-bar
        grid-column: col-start 3 / span 9
        margin-top: 2px
